#bg{
    background-color: cornflowerblue;
    width: 800px;
    height: 300px;
    background-image: url(images.png);
    background-repeat: no-repeat;
    background-position-x: 50px ;
    background-position-y: 50px ;

}