html,body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}


a{
    text-decoration: none;
    color:#40E0D0; 
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

h1{
    font-family:'Abel', sans-serif; 
    font-size: 2.5rem;
}

h2{
    font-family:'Abel', sans-serif ;
}

h3{
    font-family: 'Abel', sans-serif;
    font-size: 1.3rem;
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: 'Abel', sans-serif;
    cursor: pointer;
    outline: none;
}

span{
    font-family:'Abel', sans-serif;
}

.container{
    margin: 0 5vw;
}

p{
    font-family: 'Abel', sans-serif;
    color:white;
}

/* --------------- navbar ----------------- */


.nav{
    background: white;
    padding: 0.2rem;
    height:0rem ;
    min-height: 15vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
    box-shadow: 0 9px 9px rgba(75, 74, 74, 0.25), 
    0 9px 9px rgba(138, 137, 137, 0.25);
}

.nav .nav-menu{
    justify-content: space-between;
}


.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: #40E0D0;
}

.collapse{
    height: 30rem;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem ;
    font-size: 1.1rem ;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
}

.nav .nav-items .nav-link:hover{
    background-color: #008080
}

.nav .nav-items .nav-link:hover a{
    color: #ffffff;
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0.5rem;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

.nav .social{
    padding: 1.4rem 0.5rem;
}

.nav .social i{
    padding: 0 .2rem;
}

.nav .social i:hover{
    color: #a1c4cf;
}

/*------- nav---------------*/

/*------- MAIN SECTION---------------*/
main .site-title{
    background: url('../assets/background3.jpg');
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    background-size: 100% 100%;

}

main .site-title .site-background{
    padding-top: 5rem;
    text-align: center;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;

}

main .site-title h1, h3{
    margin: .3rem;
}

main .site-title .btn{
    margin: 1.8rem;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

main .site-title .btn:hover{
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}
/*------- MAIN CONTENT---------------*/
/*------- STORIES---------------*/

main .blog{
    background: url(../assets/abstract1.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 400vh;
    width: 100%;
    background-size: 65%;
}

main .blog .blog-post{
    padding-top: 6rem;
}

main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}


/*------- STORIES---------------*/


/*------- FOOTER---------------*/
footer.footer{
    height: 100%;
    background: #40E0D0;
    position: relative;
    box-shadow: 0 9px 9px rgba(20, 20, 20, 0.25), 
    0 9px 9px rgba(8, 8, 8, 0.25);
}

footer.footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2{
    color: white;
}

footer.footer .newsletter .form-element{
    background: black;
    display: inline-block;
}

footer.footer .newsletter .form-element input{
    padding: .5rem .5rem;
    border: none;
    background: transparent;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    width: 77%;
    outline: none;

}

footer.footer .newsletter .form-element span{
    background:linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    padding: 0.5rem 0.5rem;
    cursor: pointer;
}

footer.footer .instagram div > img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}

footer.footer .follow div i{
    color: white;
    padding: 0 .4rem;
}

footer.footer .move-up{
    position: absolute;
    right: 6%;
    top: 50%;
}

footer.footer .move-up span{
    color: black;
    
}

footer.footer .move-up span:hover{
    color: white;
    cursor: pointer;
}

/*------- FOOTER---------------*/




@media only screen and (max-width: 1000px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }
}